/* Here we've use the grid-template-areas, because the overall layout is static! Everything inside though, that's a different story
 */
#chat{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas: 
    "f c"
    "f i";
}

#friends{
    grid-area: f;
    display: grid;
    background-color: purple;
}

#friends p{
    height: 1em;
    background-color: magenta;
    margin: 4px;
    padding: 4px;
    border-radius: 3px;
}

#chatbox{
    background-color: blanchedalmond;
    grid-area: c;
    display: grid;
}

.text-container{
    margin: 5px;
    display: grid;
    height: 2.5em;
    font-family:cursive;
    border-radius: 4px;
    padding: 5px 10px;
}

.text{
    height: 1em;
    padding: 0px;
    margin: 0px;

    padding-right: 10px;
    margin-right: 30px;
}

.time{
    padding: 0px;
    margin: 0px;
    justify-self: right;
}

.left{
    justify-self: left;
    background-color: gray;
}

.right{
    justify-self: right;
    background-color: green;
}

#input{
    display: grid;
    width: 100%;
    grid-template-columns: 8fr 2fr;
}

#input input{
    display: grid;
    margin-right: 0px;
    box-sizing: border-box;
}

#input div {
    display: grid;
    background-color: blueviolet;
    justify-content: center;
    align-content: center;
}

@media (max-width: 750px) {
    #chat{
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas: 
        "f f"
        "c c"
        "b b";
    }
    #friends{
        grid-area: f;
        display: grid;
        background-color: purple;
        max-height: 50px;
        text-align: center;
        
    }
    #friends p{
        visibility: hidden;
    }
    #chatbox{
        background-color: blanchedalmond;
        grid-area: c;
        display: grid;
    }
    #input{
        display: grid;
        grid-area: b;
        width: 100%;
        grid-template-columns: 8fr 2fr;
    }
}